body,html {
    background-color: #F2F2F2;
    background-image:linear-gradient(#434343, #282828);
    background-image:linear-gradient(0deg
    , transparent 24%, rgba(1, 1, 1, .05) 25%, rgba(1, 1, 1, .05) 26%
    , transparent 27%, transparent 74%
    , rgba(1, 1, 1, .05) 75%, rgba(1, 1, 1, .05) 76%
    , transparent 77%, transparent), linear-gradient(90deg, transparent 24%
    , rgba(1, 1, 1, .05) 25%, rgba(1, 1, 1, .05) 26%, transparent 27%
    , transparent 74%, rgba(1, 1, 1, .05) 75%, rgba(1, 1, 1, .05) 76%
    , transparent 77%, transparent);
    background-size:50px 50px;
}
body , html{
    min-height: 100% !important;
    height: 100%!important;
}
.fixed-top-custom {
    position: fixed;
    top: 0;
    right: 0;
    /* left: 0; */
    z-index: 1030;
}
@media (min-width: 767px) {
    body, html {
        margin: 0;
        padding: 0;
    }

    .container {
        border-radius: 3px;
        padding: 10px;
        width: 100%;
        height: 100vh;
    }

    #root {
        width: 100%;
    }

    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }

    .modal-dialog {
        width: 100%;
    }
}
    
@media (min-width: 1200px) {
    .container{
        border-radius: 3px;
        padding:10px;
        width:50%;
    }
    .modal-dialog {
        width: 60%;
    }

}

.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.header-logo{
    width: 100%;
}

.show-date-time{

}

.show-date-time > div{
    width: 100%;
    text-align: center;
}

#date-part {
    font-size: 1.2em;
}
#time-part {
    font-size: 3em;
}

.profile{
    width: 20vh;
    height: 20vh;
}


.rope {
    /*width: 393px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
}
.box {
    height: 100px;
    width: 100px;
    margin: 15px;
    background: red;
}
.rounded{
    border-radius: .75rem!important;

}

.card , .card-header:first-child{
    border-radius: .75rem!important;
}

.fastcode {
    width: 200px;
}
.searchclear {
    position:absolute;
    right:5px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
    z-index: 3;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.fix-modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 15px;
    /*border-top: 1px solid #e9ecef;*/
}

.w-40 {
    width: 40%;
}