.nav-container {
    width: 100%;
}
@media (min-width: 1200px) {
    .nav-container {
        border-radius: 3px;
        padding: 10px;
        width: 50%;
    }
}
@media (min-width: 767px) {
    .nav-container {
        border-radius: 3px;
        padding: 10px;
        width: 100%;
        /* height: 100vh; */
    }
}

.sidebar {
    transition: all .3s;
    max-width: 1000px;
    height: 100vh;
}
.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
}

.none-border {
    border:0!important;
}

.nav-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50px;
    z-index: 1030;
}

.w-10 {
    width:10%;
}