<div class="container d-flex flex-column justify-content-center align-items-center w-100 rounded">
    <!--<div class="align-se header mt-5"><img class="header-logo" src="../assets/public/img/arms-logo.png"></div>-->
    <!--<div id="root" class="mt-3"></div>-->

    <div id="clock" class="card w-75">
        <div class="card-header">Welcome</div>
        <div class="card-body text-center">
            <img src="../assets/public/img/profile.png" class="profile rounded-circle img-thumbnail" alt="profile" />
            <p class="card-title">Mr. Mungming Nunrakk</p>
            <p class="card-text ">[ developer ]</p>
            <p class="card-text "><small class="text-muted">Redirect in <a id="time_count">5</a> Second <br />If not redict 
                <a onClick="redirect();" href="#">please click</a></small></p>
        </div>
    </div>
</div>

<script>
  $(document).ready(function () {
    var fiveSeconds = new Date().getTime() + 5000;
        $('#clock').countdown(fiveSeconds, {elapse: true}).on('update.countdown', function(event) {
            var $this = $(this);
            if (!event.elapsed) {
                $('#time_count').html(event.strftime('%-S'));
            } else {
                changePage('main/checkin');
            }
    });
  });

  function redirect(){
    changePage('main/checkin');    
  }
</script>
