 <div class="w-100">
    <div id="show-date-time"></div>
    <form>
        <div class="form-group">
            <label for="fastcode">FAST CODE</label>
            <input class="form-control form-control-lg" id="fastcode" placeholder="Enter fast code" aria-describedby="fastcodeHelp">
            <small id="fastcodeHelp" class="form-text text-muted">Please Insert only 4 digit</small>
        </div>
        <button id="submit" class="btn btn-primary btn-block">Check In</button>
    </form>
 </div>

 <script>
     $(document).ready(function () {
         var interval = setInterval(function () {
             
         })
         
     })

 </script>
