<div class="container d-flex flex-column justify-content-center align-items-center">
    <!--<div class="align-se header mt-5"><img class="header-logo" src="../assets/public/img/arms-logo.png"></div>-->
    <!--<div id="root" class="mt-3"></div>-->

    <div class="card mt-5">
        <div class="card-header">Welcome</div>
        <div class="card-body text-center w-100">
            <img src="../../assets/public/img/profile.png" class="profile rounded-circle img-thumbnail" alt="profile" />
            <p class="card-title">Mr. Mungming Nunrakk</p>
            <p class="card-text ">[ developer ]</p>
            <p class="card-text "><small class="text-muted">Redirect in 5.. <br />If not redict please click</small></p>
        </div>
    </div>

</div>
