 <div class="w-100">
    <div class="show-date-time">
        <div id="date-part">2017-08-30 WED</div>
        <div id="time-part">00:00:00 AM</div>
    </div>
    <form>
        <div class="form-group">
            <label for="fastcode"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i> </span>
                <input class="form-control form-control-lg" id="fastcode" placeholder="Enter fast code" aria-describedby="fastcodeHelp" maxlength="4">
            </div>
            <small id="fastcodeHelp" class="form-text text-muted">Please Insert only 4 digit</small>
        </div>
        <button type="button" id="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Check In</button>
    </form>
 </div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

 <script>
     $(document).ready(function () {
         var interval = setInterval(function () {
             var momentNow = moment();
             $('#date-part').html(
                 momentNow.format('YYYY-MM-DD') + ' ' + momentNow.format('dddd').substring(0,3).toUpperCase()
             );
             $('#time-part').html(momentNow.format('hh:mm:ss A'));

         },1000)

     });

     $(function () {
         $("#exampleModal").load("./main/checkin_modal.html");
     });
 </script>
