<div id="page_title" name="ARMS - CHECK-IN : Login"></div>
<div class="align-se header">
    <img class="header-logo" src="../assets/public/img/arms-logo.png">
</div>
 <div class="w-100">
    <div class="show-date-time">
        <div id="date-part">2017-08-30 WED</div>
        <div id="time-part">00:00:00 AM</div>
    </div>
    <form>
        <div class="form-group">
            <label for="fastcode"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i> </span>
                <input id="searchinput" type="search" class="w-100 form-control" id="fastcode" placeholder="Enter fast code" aria-describedby="fastcodeHelp" maxlength="4">
                <span id="searchclear"  class="searchclear fa fa-2x fa-times"></span>
            </div>
            <small id="fastcodeHelp" class="form-text text-muted">Please Insert only 4 digit</small>
        </div>
        <button type="button" id="modal" class="btn btn-primary btn-block">Enter</button>
    </form>
 </div>

 <!-- Modal -->
 <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"  aria-hidden="true"></div>
 <script>
     $(document).ready(function () {
         var interval = setInterval(function () {
             var momentNow = moment();
             $('#date-part').html(
                 momentNow.format('YYYY-MM-DD') + ' ' + momentNow.format('dddd').substring(0,3).toUpperCase()
             );
             $('#time-part').html(momentNow.format('hh:mm:ss A'));

         },1000)

         $("#searchinput").on('keyup',function () {
            $('#searchclear').toggle(Boolean($(this).val()));
         });
        $("#searchclear").toggle(Boolean($(".searchinput").val()));
        $("#searchclear").on('click',function () {
            $(this).prev().val('').focus();
            $(this).hide();
        });
     });

     $(function () {
         $("#loginModal").load("./main/checkin_modal.html");
     });
 </script>
 