<div class="w-100">

        <center><h1><b> Dashboard</b></h1></center><br>

        <div class="dashboard-border" style="width: 750px">
            <!--<div class="show-date-time">-->
                <!--<div id="date-part"></div>-->
                <!--<div id="time-part"></div>-->
            <!--</div>-->
            <form>
                <table style="width:100%">
                <tr>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                    <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                </tr>
                    <tr>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">-</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">-</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">-</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="red">09.10</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="red">09.10</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="red">09.10</font></b></th>
                    </tr>
                    <tr>
                        <td><img src="../assets/public/img/human1.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human2.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human2.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human2.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human2.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human2.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="red">Kong</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="#32cd32">Tues</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="#32cd32">Tues</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="#32cd32">Tues</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="#32cd32">Tues</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="#32cd32">Tues</font></b></th>
                    </tr>
                    <tr>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="red">09.02</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.59</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.59</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.59</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.59</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.59</font></b></th>
                    <tr>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                        <td><img src="../assets/public/img/human3.png" alt="human" style="width:90px;height:90px;">&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#32cd32">Aof</font></b></th>
                    </tr>
                    <tr>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.54</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.53</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.52</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.50</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.45</font></b></th>
                        <th><b>&nbsp;&nbsp;&nbsp;<font color="32cd32">08.40</font></b></th>

                    </tr>
                    </tr>

                </table>
                <!--<div class="form-group">-->

                    <!--<label for="username"></label>-->
                    <!--<h4><b>Username</b></h4>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i> </span>-->
                        <!--<input class="form-control form-control-lg" id="username" placeholder="enter username" aria-describedby="fastcodeHelp" >-->
                    <!--</div>-->
                    <!--<label for="password"></label>-->
                    <!--<h4><b>Password</b></h4>-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i> </span>-->
                        <!--<input class="form-control form-control-lg" id="password" placeholder="enter password" aria-describedby="fastcodeHelp" >-->
                    <!--</div>-->
                    <!--<br>-->
                    <!--<center><input type="checkbox" name="vehicle" value="Bike"></M> Remember me</center>-->
                <!--</div>-->
                <!--<center><button id="submit" class="btn btn-primary btn-block-login">LOGIN</button></center>-->

            </form>
        </div>
</div>
