<div id="page_title" name="ARMS - CHECK-IN : Add New User"></div>
<div class="w-100 pt-4 pr-4 mt-4">
<div class="border bg-light p-3 rounded border-dark w-100">
        <div class="text-left pb-2">
            <h2>User List</h2>
        </div>
        <div class="d-flex flex-row p-2">
                <div class="w50">
                    &nbsp;
                </div>
                <div class="w-30 d-flex flex-column justify-content-center align-items-center">
                   <a class="text-center"><h4>Name</h></a>
                </div>
                <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                    <a class="ml-3"><h4>Date</h></a>
                </div>
                <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                    <a class="ml-3"><h4>Type</h></a>
                </div>
                <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                    <a class="ml-3"><h4>Status</h></a>
                </div>
        </div>
        <div class="d-flex flex-row p-1">
            <div>
                <img src="../assets/public/img/human3.png" width="50">
            </div>
            <div class="w-30 d-flex flex-column justify-content-center align-items-start ml-3">
                <a class="text-center">Adrian Wattananupong</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-center">2020.05.01</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                Admin
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-success">Active</a>
            </div>
        </div>
        <div class="d-flex flex-row p-1">
            <div>
                <img src="../assets/public/img/human2.png" width="50">
            </div>
            <div class="w-30 d-flex flex-column justify-content-center align-items-start ml-3">
                <a class="text-center">Parima Laotrakool</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-center">2020.05.01</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                Admin
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-danger">Inactive</a>
            </div>
        </div>
        <div class="d-flex flex-row p-1">
            <div>
                <img src="../assets/public/img/human1.png" width="50">
            </div>
            <div class="w-30 d-flex flex-column justify-content-center align-items-start ml-3">
                <a class="text-center">Pongpich Nakages</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-center">2020.05.01</a>
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                Admin
            </div>
            <div class="w-25 d-flex flex-column justify-content-center align-items-center">
                <a class="text-warning">In Progress</a>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        if(sessionStorage.getItem('page_name') == 'main/list_of_users'){
            $('#list_of_users_time_enter').html(sessionStorage.getItem('time_enter'));
            var check_status = sessionStorage.getItem('chk_status');
            if(check_status != null){
                $('#but_checkin').hide();
                $('#but_checkout').show();
            } else {
                $('#but_checkin').show();
                $('#but_checkout').hide();
            }
        }
    });
</script>


