<div class="w-100">

    <br><br><br><br><br><br>
    <div class="login-border" >
    <center><h1><b>Login</b></h1></center><br>
    <div class="login-border2" >
    <div class="show-date-time">
        <div id="date-part"></div>
        <div id="time-part"></div>
    </div>
    <form>
        <div class="form-group">
            <label for="username"></label>
            <h4><b>Username</b></h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle fa-lg"></i> </span>
                <input class="form-control form-control-lg" id="username" placeholder="enter username" aria-describedby="fastcodeHelp" >

            </div>
            <label for="password"></label>
            <h4><b>Password</b></h4>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i> </span>
                <input class="form-control form-control-lg" id="password" placeholder="enter password" aria-describedby="fastcodeHelp" >
            </div>
            <br>
            <center><input type="checkbox" name="vehicle" value="Bike"></M> Remember me</center>
        </div>
        <center><a a href="../template/test2.html" class="btn btn-primary btn-block-login" >LOGIN</a></center>
        <div align="right">
            <b>Forgot password?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>

        </div>

        <!--<button><a href="../template/test2.html">Continue</a>-->

        <!--<a class="btn" href="../template/test2.html" style="background-color: red">Link</a>-->

        <!--<button type="button"><a href="google.com">Link link</a></button>-->
        <!--<form method="get" action="../template/test2.html">-->
            <!--<button type="submit">Continue</button>-->
        <!--</form>-->

    </form>
    </div>
    </div>
</div>
