<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reason</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Awesome font CSS -->
    <link href="../../assets/public/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom core CSS -->
    <link href="../../assets/custom/css/custom.css" rel="stylesheet">

    <!-- Jquery core JS -->
    <script src="../../assets/public/js/jquery.min.js" ></script>

    <!-- Popper for Bootstrap JS -->
    <script src="../../assets/public/js/popper.min.js" ></script>

    <!-- Bootstrap core JS -->
    <script src="../../assets/public/js/bootstrap.min.js" ></script>

    <!-- Moment time JS -->
    <script src="../../assets/public/js/moment.min.js" ></script>

    <link href="../../assets/custom/css/cover.css" rel="stylesheet">
</head>
<body>
    <div class="site-wrapper">
    
        <div class="site-wrapper-inner">
    
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">ARMS CHECK IN v1.0</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="#">JP | </a>
                            <a class="nav-link" href="#">EN | </a>
                            <a class="nav-link" href="#">TH</a>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <form>
            
                        <div class="form-group">
                            <div class="checkbox-inline">
                                <label class="col-md-3"><input type="checkbox" value="">Option 1 </label>
                                <label class="col-md-3"><input type="checkbox" value="">Option 2</label>
                                <label class="col-md-3"><input type="checkbox" value="">Option 3</label>
                            </div>
                            <div class="checkbox-inline">
                                <label class="col-md-3"><input type="checkbox" value="">Option 4 </label>
                                <label class="col-md-3" ><input type="checkbox" value="">Option 5</label>
                                <label class="col-md-3"><input type="checkbox" value="">Option 6</label>
                            </div>
                            <div class="checkbox-inline">
                                <label class="col-md-3"><input type="checkbox" value="">Option 7 </label>
                                <label class="col-md-3"><input type="checkbox" value="">Option 8</label>
                                <label class="col-md-3"><input type="checkbox" value="">Option 9</label>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
            
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7">
                                    <button type="submit" class="btn btn-default">Check In</button>
                                </div>
            
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="submit" class="btn btn-default">Check Out</button>
                                </div>
                            </div>
                        </div>
            
                    </form>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@Kong</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>