<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reason</title>

    <!-- Bootstrap core CSS -->
    <link href="../../assets/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Awesome font CSS -->
    <link href="../../assets/public/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom core CSS -->
    <link href="../../assets/custom/css/custom.css" rel="stylesheet">

    <!-- Jquery core JS -->
    <script src="../../assets/public/js/jquery.min.js" ></script>

    <!-- Popper for Bootstrap JS -->
    <script src="../../assets/public/js/popper.min.js" ></script>

    <!-- Bootstrap core JS -->
    <script src="../../assets/public/js/bootstrap.min.js" ></script>

    <!-- Moment time JS -->
    <script src="../../assets/public/js/moment.min.js" ></script>
</head>
<body>

    <!--<div class="align-se header mt-5"><img class="header-logo" src="../assets/public/img/arms-logo.png"></div>-->
    <!--<div id="root" class="mt-3"></div>-->
    <!--<div class=" d-flex flex-column justify-content-center align-items-center">-->
        <!--<div class="container">-->
        <!--<form>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Choice 1-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1"> Choice 2-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1"> Choice 3-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1"> Choice 4-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1"> Choice 5-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1"> Choice 6-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1"> Choice 7-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option1"> Choice 8-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option1"> Choice 9-->
            <!--</label>-->
            <!--<label class="form-check-label">-->
                <!--<input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option1"> Other-->
            <!--</label>-->
        <!--</form>-->
    <!--</div>-->

    <div class='container'>
        <div class='rope'>
            <div class="box">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1"> Choice 1
                </label>
            </div>
        </div>
        <div class='rope'>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1"> Choice 1
                </label>
            </div>
        </div>
        <div class='rope'>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option1"> Choice 1
                </label>
            </div>
            <div class="box">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option1"> Choice 1
                </label>
            </div>
        </div>
        <div class='rope'>
            <div class="box">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option1"> Other
                </label>
            </div>
        </div>
        <div class='rope'><textarea></textarea></div>
        <div class='rope'><button>Check In</button> | <button>Check Out</button></div>
    </div>

</div>

</body>
</html>