
<body style="background: lightgray;margin: 0px;">
<div>

    <!--<div class="login-border3" >-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../main/arms-logo-nobg.png" alt="human" style="width:180px;height:120px;">&nbsp;&nbsp;-->
    <!--</div>-->
    <table style="width:100%;background: darkgray;">
        <tr >
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../main/arms-logo-nobg.png" alt="human" style="width:180px;height:120px;">
            </td>
        </tr>
    </table>
    <table style="width:100%;background: lightgray">
        <tr>
            <td>
                <center><br><img src="../main/human1.png" alt="human" style="width:75px;height:75px;"></center>
                <br>
            </td>
            <td>
                <br>
               Welcome
            </td>
        </tr>
    </table>
    <table style="width:100%;background: darkgray;margin: 1px">
        <tr>
            <td>
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <img src="../main/white-login-256.png" alt="login" style="width:25px;height:25px;">
            </td>
            <td>
                <h3><br><center>Login</center></h3>
            </td>
            <td style="padding-left: 1cm">
                <img src="../main/arrow-down.png" alt="arrow" style="width:15px;height:10px;">
            </td>
            <td style="background-color: lightgoldenrodyellow;padding-left: 0.15cm;padding-right: 0px">
            </td>
        </tr>
    </table>

</div>
</body>
