
<body style="background: lightgray;margin: 0px;">
<div>

    <!--<div class="login-border3" >-->
    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="../main/arms-logo-nobg.png" alt="human" style="width:180px;height:120px;">&nbsp;&nbsp;-->
    <!--</div>-->
    <table style="width:100%;background: darkgray;">
        <tr >
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../main/arms-logo-nobg.png" alt="human" style="width:180px;height:120px;">
            </td>
        </tr>
    </table>
    <table style="width:100%;background: lightgray">
        <tr>
            <td style="padding-left: 5px">
                <center><br><img src="../main/human1.png" alt="human" style="width:75px;height:75px;"></center>
                <br>
            </td>
            <td>
               <center> <br>
                <b>Welcome</b>
                <br>Adiran W.
                   <br>Administrator</center>

            </td>
            <td style="padding-left:0.5cm;padding-right: 0.5cm">
                <center><br>
                    <img src="../main/gear.png" alt="human" style="width:35px;height:35px;"></center>
                <br>
            </td>
        </tr>
    </table>
    <table style="width:100%;background: darkgray;margin: 1px">
        <tr>
            <td>
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <img src="../main/dashboard.png" alt="login" style="width:30px;height:30px;">
            </td>
            <td>
                <h3><br><center>Dashboard</center></h3>
            </td>
            <td style="padding-left: 1cm">
                <img src="../main/arrow-left.png" alt="arrow" style="width:10px;height:15px;">
            </td>
            <td style="background-color: lightgoldenrodyellow;padding-left: 0.15cm;padding-right: 0px">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <img src="../main/user.png" alt="login" style="width:25px;height:25px;">
            </td>
            <td>
                <h3><br><center>Manage User</center></h3>
            </td>
            <td style="padding-left: 1cm">
                <img src="../main/arrow-left.png" alt="arrow" style="width:10px;height:15px;">
            </td>
        </tr>
        <tr>
            <td>
                <!--&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <img src="../main/white-login-256.png" alt="login" style="width:25px;height:25px;">-->
            </td>
            <td>
                <h3><br><center>Report</center></h3>
            </td>
            <td style="padding-left: 1cm">
                <!--<img src="../main/arrow-down.png" alt="arrow" style="width:15px;height:10px;">-->
            </td>
        </tr>
        <tr>
            <td>
                <!--&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <img src="../main/white-login-256.png" alt="login" style="width:25px;height:25px;">-->
            </td>
            <td>
                <h3><br><center>Manage<br>information</center></h3>
            </td>
            <td style="padding-left: 1cm">
                <!--<img src="../main/arrow-down.png" alt="arrow" style="width:15px;height:10px;">-->
            </td>
        </tr>
    </table>

</div>
</body>
