<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Awesome font CSS -->
    <link href="../assets/public/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom core CSS -->
    <link href="../assets/custom/css/custom.css" rel="stylesheet">

    <!-- Jquery core JS -->
    <script src="../assets/public/js/jquery.min.js" ></script>

    <!-- Popper for Bootstrap JS -->
    <script src="../assets/public/js/popper.min.js" ></script>

    <!-- Bootstrap core JS -->
    <script src="../assets/public/js/bootstrap.min.js" ></script>

    <!-- Moment time JS -->
    <script src="../assets/public/js/moment.min.js" ></script>

    <!-- ARMS JS by Poposama--> 
    <script src="../assets/public/js/core.arms.js" ></script>
    <script src="../assets/public/js/jquery.countdown.min.js" ></script>    
    <script src="../assets/public/js/modal.js" ></script>
    
</head>
<body>
    <div id="page_name" name="" style="display:none"></div>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div id="root" class="mt-3"></div>
    </div>
</body>
</html>